@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #AF7B51;
  --text: #4A5568;
  --border: #E2E8F0;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary : var(--primary);
  --color-text : var(--text);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* for phase 2 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

button:disabled{
  cursor: not-allowed;
}